@import url(https://fonts.googleapis.com/css?family=Inconsolata);
html,
body {
  background: #242424;
  font-family: 'Inconsolata', sans-serif;
}
.wrap {
  top: 50%;
  left: 50%;
  width: 400px;
  height: 200px;
  margin-left: -200px;
  margin-top: -100px;
  position: absolute;
}
code {
  color: white;
}
span.blue {
  color: #fed6e3;
}
span.comment {
  color: #7f8c8d;
}
span.load {
  color: #a8edea;
}
